* {
  margin: 0;
  padding: 0;
  list-style: none;
  color: inherit;
  text-decoration: none;
  font-family: "Noto Sans KR", sans-serif;
}
button,select,option,input {
  border: 0;
  background-color: rgba(0, 0, 0, 0);
}
img {
  vertical-align: top;
}



#wrapper {
}

section {
  margin-top: 100px;
}

section h3{
  text-align: center;
  margin-bottom: 7px;
  font-size: 25px;
}


section .wrap {
  width: 1440px;
  margin: 0 auto;
}


section .con{
  padding-top: 20px;
  
}

section .detail{
  color: #3ea5da;
  padding-top: 7px;
}

header .top {
  padding: 20px 0;
  display: flex;
  width: 1440px;
  margin: 0 auto;
}

header h1 img {
  width: 60px;
  margin: 0 10px;
}

header .util1 {
  /* font-weight: 300; */
  text-align: center;
  align-items: center;
  display: flex;
}

header .util1 li {
  margin: 0 10px;
}

header .util2 {
  text-align: center;
  align-items: center;
  display: flex;
  margin-left: auto;
}

header .util2 li {
  margin: 0 10px;
}

header nav {
  width: 100%;
  z-index: 99999;
  background-color: #cecece;
  padding: 5px 0;
}
header .gnb {
  width: 1440px;
  display: flex;
  margin: 0 auto;
  align-items: center;
}

header .gnb .title {
  margin: 0 10px;
  color: #727272;
}

header .buy {
  background-color: #a1b932;
  color: white;
  margin: 0 10px;
  margin-left: auto;
  padding: 3px 5px;
}

.banner .wrap {
  width: 1440px;
  margin: 0 auto;
}

.banner .video {
  margin: 0 auto;
  margin-top: 60px;
}

.banner .con {
  display: flex;
}

.banner h2 {
  font-size: 24px;
  color: #a1b932;
}

.banner .title-txt {
  padding-top: 10px;
  text-align: center;
}

.banner p {
  margin-top: 10px;
  text-align: center;
}

.banner .sub-des{
  font-weight: 500;
}



.section1{
  padding-top: 100px;
}

.section1 .box:nth-child(1) {
  margin-left: auto;
  background-image: url(../images/Untitled-1.gif);
  background-size: 100% auto;
}

.section1 .con .box:nth-child(2) {
  background-image: url(../images/Untitled-2.gif);
  background-size: 100% auto;
}

.section1 .con .box:nth-child(3) {
  margin-left: auto;
  background-image: url(../images/Untitled-3.gif);
  background-size: 100% auto;
}

.section1 .con .box:nth-child(4) {
  background-image: url(../images/Untitled-4.gif);
  background-size: 100% auto;
}

.section1 .box {
  margin-bottom: 100px;
  position: relative;
  width: 980px;
  height: 551.25px;
  
}

.section1 .txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding:0 20px;
  width: 500px;
  height: 150px;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  background-color: rgba(206, 206, 206, 0.6)

}

.section1 .txt .title{
  color: #a1b932;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 5px;
}

.section1 .box:nth-child(1) .txt{
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  position: absolute;
  bottom: 30px;
}
.section1 .box:nth-child(2) .txt{
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  position: absolute;
  right: 0;
  bottom: 30px;
}
.section1 .box:nth-child(3) .txt{
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  position: absolute;
  bottom: 30px;
}
.section1 .box:nth-child(4) .txt{
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  position: absolute;
  right: 0;
  bottom: 30px;
}


.section2 .wrap {
  width: 1440px;
  margin: 0 auto;
}

.section2 .box img {
  width: 700px;
  height: auto;
  margin-bottom: 10px;
}

.section2 .con {
  display: flex;
  justify-content: space-between;
}

.section2 .txt {
  width: 700px;
}
.section3 .wrap {
  width: 1440px;
  margin: 0 auto;
}

.section3 .con {
  display: flex;
  justify-content: space-between;
}

.section3 .box {
  position: relative;
}

.section3 .box img {
  width: 465px;
  height: auto;
  background-color: blue;
}
.section3 .txt {
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: white;
  position: absolute;
  top: 0;
  height: 100%;
  flex-wrap: wrap;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  background-color: rgba(0, 0, 0, 0.2);
}

.section3 .title{
  margin-bottom: 10px;;
  
}

.section4 .wrap{
  width: 1440px;
  
}
.section4 .title-txt{
  text-align: center;
}

.section4 .txt {
  padding-right: 30px;
 
}

.section4 .txt .title{
  font-weight: bold;
  font-size: 18px;
}

.section4 .txt div{
  margin-bottom: 7px;

}

.section4 .txt .sub-des{
  font-size: 14px;
}

.section4 .con {
  padding: 3px 0;
  margin-top: 10px;
 
 
}

.section4 .box {
  display: flex;
  align-items: center;
  margin: 20px auto;
  width: 100%;
  height: 300px;
  background-color: #f3f6f7;
  border-radius: 20px;
}

.section4 .thumb img {
  padding: 20px;
  width: 300px;
  height: auto;
}

.section5 .title-txt{
  margin-bottom: 20px;
  text-align: center;
}

.section5 .con {
  display: flex;
}

.section5 .txt {
  padding: 0 20px;
}

.section5 .txt .title{
  font-weight: 500;
  margin-bottom: 10px;
}

.section6 .title-txt .des{
  text-align: center;
}

.section6 .con {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section6 .box {
  position: relative;
}

.section6 .box .thumb img {
  width: 465px;
  height: 304px;
}

.section6 .txt {
  text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  padding: 0 20px;
  height: 304px;
  display: flex;
  
  justify-content: center;
  flex-direction: column;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;;
  height: 100%;
  opacity: 0;
  transition: 0.3s;
}

.section6 .txt .title{
  font-size:18px;
  font-weight: bold;
  margin: 30px 0 7px 0;
}

.section6 .box:hover .txt{
  opacity: 1;
}

.section6 .box:nth-child(1) .icon{
  background-color: rgba(47,160,213,0.5);
  
}

.section6 .box:nth-child(2) .icon{
  background-color: rgba(156,180,51,0.5);
  
}

.section6 .box:nth-child(3) .icon{
  background-color: rgba(239,208,0,0.5);
  
}

.section6 .icon {
  color: white;
  text-align: center;
  padding: 5px 0;
  width: 150px;
  position: absolute;
  top: 0;
}

.section7{
  position: relative;
}


.section7 .wrap .thumb > div{
  text-align: center;
}
.section7 .wrap .thumb > div img{
  width: 100%;
  height: auto;
}

.section7 .wrap .left{
  z-index: 99999;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 0;
  width: 48px;
  font-size:0;
  text-indent: -99999px;
  overflow: hidden;
  padding: 10px 10px 10px 0;
}
.section7 .wrap .right{
  z-index: 99999;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  right: 0;
  width: 48px;
  font-size:0;
  text-indent: -99999px;
  overflow: hidden;
  padding: 10px 0 10px 10px;
}
.section7 .wrap .left::before,
.section7 .wrap .right::before{
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border-top: 3px solid #000;
  border-right: 3px solid #000;
}
.section7 .wrap .left::before{transform: rotate(-135deg);}
.section7 .wrap .right::before{transform: rotate(45deg);}
.section7 .wrap .left::after,
.section7 .wrap .right::after{
  content: none;
}
.section7 .wrap .swiper-pagination{
  position: absolute;
  top: unset;
  bottom: 0;
}

.section8 .wrap {
  width: 1440px;
  margin: 0 auto;
}

.section8 h3{
  margin-bottom: 20px;
}

.section8 .con {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.section8 .box {
  margin: 0 auto;
}

.section8 .txt{
  width: 156px;
  text-align: center;
}

.section8 .box {
  margin: 0 auto;
}

.section8 .all-detail{
  margin-top: 30px;
  text-align: center;
  color: #3ea5da;
  font-weight: 18px;
}

.section9 .con {
  width: 1200px;
  margin: 0 auto;
  overflow-x: scroll;
  display: flex;
}

/* Track */
.section9 .con::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.section9 .con::-webkit-scrollbar-thumb {
  background: #cecece;
  border-radius: 10px;
}

/* Handle on hover */
.section9 .con::-webkit-scrollbar-thumb:hover {
  background:grey;
}

.section9 .con::-webkit-scrollbar {
  
  height: 10px;
}

.section9 h3{
  margin-bottom: 20px;
}

.section9 .des{
  text-align: center;
  margin-bottom: 15px;
}

.section10 .wrap{
  width: 1200px;
  margin-bottom: 50px;
  
}

.section10 .info{
  
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.section10 .info img{
  height: 230px;
}

.section10 .info .box:last-child{
  
  width: 230px;
  height: 230px;
  background-color: #a1b932
}

.section10 .info .box{
  position: relative;
}

.section10 .info .txt{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
  width: 230px;
  height: 230px;
  color: white;
  position: absolute;
  top:0
}

.section10 .warranty .box{
  margin-top: 25px;
  margin-left: 25px;
  margin-bottom: 25px;
  background-color: #362fa0;
  
}

.section10 .warranty .txt{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  margin-left: 20px;
}

.section10 .warranty img{
  width: 460px;
  height: 230px;
}
.section10 .warranty .box a{
  display: flex;
}

footer .wrap{
  background-color: #cecece;
  width: 1440px;
  margin: 0 auto;
}

footer{
  background-color: #cecece;
}


footer .footer-util .con{
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}

footer .footer-util .box{
  width: 240px;
}

footer .title{
  margin-bottom: 10px;
  font-weight: bold;
}

footer .des{
  color: #727272;
  
}


footer .address{
  display: flex;
  margin-top: 50px;
  font-size: 14px;
}
footer .address .box{ 
  margin-right: 20px;

}

footer .copyright{
  font-size: 14px;
  padding: 20px 0 15px 0;
  color: #727272;
}
